.bg {
    background: rgb(145, 38, 142);
    background: linear-gradient(313deg, rgba(145, 38, 142, 0.2637429971988795) 0%, rgba(255, 255, 255, 0.08727240896358546) 100%, rgba(10, 101, 180, 0.38699229691876746) 100%, rgba(255, 255, 255, 0.12648809523809523) 100%);
}

.footerBg {
    background: rgb(145, 38, 142);
    background: linear-gradient(113deg, rgba(145, 38, 142, 0.521) 0%, rgba(255, 255, 255, 0.08727240896358546) 100%, rgba(10, 101, 180, 0.596) 100%, rgba(255, 255, 255, 0.12648809523809523) 100%);
}